{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'portal/bootstrap.min.css' %}">
    <script src="{% static 'portal/bootstrap.bundle.min.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>applicants</title>
    <script>
        
       document.addEventListener("DOMContentLoaded",()=>{

         document.querySelectorAll(".see-more").forEach(btn=>{
                btn.onclick = () =>{

                    hideout(btn,btn.dataset.applicant_id);
                };

            });

       });

           

                
            const hideout = (btn,id) =>{
                const hide = document.querySelector(`#applicant-${id}`);

                if(hide.style.display === "none"){
                    hide.style.display = "block";
                    btn.textContent = "see less";
                    btn.classList.remove("btn-warning");
                    btn.classList.add("btn-info");

                } else{
                    hide.style.display = "none";
                    btn.textContent = "see more";
                    btn.classList.remove("btn-info");
                    btn.classList.add("btn-warning");
                }

            }; 
        

    </script>
</head>
<body>
    <div class="container mt-3">
        <h3>Applicants
            <a href="{% url 'index' %}" class="btn btn-sm btn-danger float-end">Back</a>
        </h3>
        <hr>
        <ul class="list-group mt-3">
            {% for applicant in applicants %}
            <li class="list-group-item shadow shadow-sm mb-2 rounded">{{applicant.seeker.user.first_name}} {{applicant.seeker.user.last_name}}
               <button class="btn btn-sm btn-warning float-end see-more" data-applicant_id="{{applicant.id}}" >see more</button>
               
               <div id="applicant-{{applicant.id}}" style="display:none;" class="mt-3 hide">
                <hr>
                   <div class="fw-bold">Skills</div>
                   <ul class="list-group list-group-horizontal flex-wrap">
                        {% for skill in applicant.seeker.skills.all %}
                         <li class="list-group-item ms-2 mt-2 shadow shadow-sm rounded">{{skill}}</li>
                         {% endfor  %}
                   </ul>
                   <hr>
                   <div class="fw-bold mt-2">Experience</div>
                   <div>{{applicant.seeker.experience}}</div>
               </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>