{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'portal/bootstrap.min.css' %}">
    <script src="{% static 'portal/bootstrap.bundle.min.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-mb-6 shadow shadow-md rounded p-3 col-10 bg-light">
            <h1 class="text-center">Register</h1>
            <form action="{% url 'user_register' %}" method="post">

                {% csrf_token %}
                <div class="row mt-5">
                    <div class="mb-3 col">
                        <label class="form-label fw-bold">First Name</label>
                        <input type="text" autocomplete="off" class="form-control form-control-sm"  name="first" required>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label fw-bold">Last Name</label>
                        <input type="text" autocomplete="off" class="form-control form-control-sm"  name="last" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label fw-bold">Username</label>
                        <input type="text" autocomplete="off" class="form-control form-control-sm"  name="username" required>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label fw-bold">Email</label>
                        <input type="email"autocomplete="off" class="form-control form-control-sm"  name="email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label fw-bold">Password</label>
                        <input type="password"  class="form-control form-control-sm" name="password" required>
                    </div>
                    <div class="mb-3 col d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </div>
                </div>
            </form>

            <div class="text-center">
                <a href="{% url 'login'%}">Sign in</a>
            </div>

        </div>

    </div>
  </div>

</body>
</html>